@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root  {
    --background: 0 100% 95%;
    --foreground: 0 5% 0%;
    --card: 0 50% 90%;
    --card-foreground: 0 5% 10%;
    --popover: 0 100% 95%;
    --popover-foreground: 0 100% 0%;
    --primary: 0 0% 13.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 30% 85%;
    --muted-foreground: 0 5% 35%;
    --accent: -38 30% 80%;
    --accent-foreground: 0 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 180 20% 92%;
    --input: 0 0% 100%;
    --ring: 0 0% 13.7%;
    --radius: 0.5rem;
    --label: 0 0% 12%;
  }
  .dark  {
    --background: 0 50% 5%;
    --foreground: 0 5% 90%;
    --card: 0 50% 0%;
    --card-foreground: 0 5% 90%;
    --popover: 0 50% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 0% 13.7%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 30% 15%;
    --muted-foreground: 0 5% 60%;
    --accent: -38 30% 15%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 30% 18%;
    --input: 0 30% 18%;
    --ring: 0 0% 13.7%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}